a:active{
    background: black;
    color: white;
}
body{
    background: green;
}

#wrapper{
    margin: 0 auto;
    background-color: white;
    width: 800px;
    height: 1000px;
}

header{
    padding: 0px 0px 10px 7px;
}

#horzNav:hover{
    display: blocked;
    background-color: black;
    color: white;
}

#para-1{
    word-spacing: 10px;
}

#para-2{
    letter-spacing: 10px;
}

footer{
    clear: both;
    background-color: black;
    color: white;
}

ul{
    list-style-type: lower-alpha;
    list-style-position: inside;
}

#para-1::before{
    content:"@@@@@";
}