#container{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;    
}

#centered{
    background-color: violet;
        text-align: center;
}

#top-left{
    background-color: turquoise;
    border: 10px solid red;
    position: absolute;
    width: 200px;
    height: 200px;
}

#bottom-right{
    background: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color:black;

    z-index: 5;

}

#fixed-position{
    position: fixed;
    background: white;
    color: black;

}

#relative-1{
    background: black;
    color:white;
    border: 10px dotted green;
    height:100px;
}

#relative-2{
    background-color: aquamarine;
    position: relative;
    left: 30px;
    top: -40px;
    border: 1px solid blue
    

}

img{
    float: right;
}