div{
    
    background-color: aquamarine;
    color: red;
}

#quote{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.movie{
    color: yellow;
    background-color: red;
}


#list ul li{
    color: green;
    font-weight: 200;
}

h2 + p{
    background-color: aqua;
    color: black;
}

p[class]{
    background-color: grey;
}

p[id]{
    background-color: aquamarine;
}



